body{
  background-color: #d5d5d5;

}
h1{
  font-family: 'Tahoma', sans-serif;
  font-size:32px;
  color:black;
  text-align: center;
  margin-top: 0;
}

img{
  padding: ;
  
}

h2{
  color: black;
  text-align: center;

}
p{

}

a{
  color: #d5d5d5;
  background-color: #49b970
  
}
section{
  background-color: #d5d5d5;
}

h3{

}
span{
  font-weight: bold;

}
p{

}
